/* Todos os arquivos relacionados ao showArray, JS e CSS, vão ser importados juntos */
.numbers-container {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

h2 {
    text-align: end;
    min-width: 15rem;
}

.numbers-item {
    min-width: 7.5rem;
    height: 7.5rem;
    font-size: 3rem;
    display: grid;
    place-content: center;
    box-shadow: .0rem .0rem .4rem purple;
}